<ion-tabs>


  <ion-tab-bar slot="bottom">
  
    <ion-tab-button tab="meus-dados">
      <ion-icon name="person"></ion-icon>
      <ion-label>Meus Dados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="documentos">
      <ion-icon name="document"></ion-icon>
      <ion-label>Documentos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="historico">
      <ion-icon name="timer"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicos">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Serviços</ion-label>
    </ion-tab-button>

    <ion-tab-button style="max-height:80px; margin-right: 10px;">
        <ion-menu-button menu="main-content" style="max-height:30px;" >
      <ion-icon name="custom-conecta-cidadao"></ion-icon>
    </ion-menu-button>  
    <ion-label>Conecta Suas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<!--   <ion-tab-button tab="meus-dados">
      <ion-icon name="custom-conecta-cidadao"></ion-icon>
      <ion-label>Conecta Suas</ion-label>
    </ion-tab-button>
  -->